<div class="head-nav">
    <div class="container">
        <ul>
            <li class="<?php if(isset($id)){if($id==1){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=1">冠</a></li>
            <li class="<?php if(isset($id)){if($id==2){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=2">亚</a></li>
            <li class="<?php if(isset($id)){if($id==3){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=3">季</a></li>
            <li class="<?php if(isset($id)){if($id==4){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=4">四</a></li>
            <li class="<?php if(isset($id)){if($id==5){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=5">五</a></li>
            <li class="<?php if(isset($id)){if($id==6){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=6">六</a></li>
            <li class="<?php if(isset($id)){if($id==7){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=7">七</a></li>
            <li class="<?php if(isset($id)){if($id==8){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=8">八</a></li>
            <li class="<?php if(isset($id)){if($id==9){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=9">九</a></li>
            <li class="<?php if(isset($id)){if($id==10){echo 'on';}}else{echo '';};?>"><a href="index.php?p=show&c=index&a=index&id=10">十</a></li>
        </ul>
    </div>
</div>