<script>


    $(".number span").each(function(){
        if($(this).text()=="01"){
            $(this).addClass("seven");
        }else if($(this).text()=="02"){
            $(this).addClass("Nine");
        }else if($(this).text()=="03"){
            $(this).addClass("six");
        }else if($(this).text()=="04"){
            $(this).addClass("four");
        }else if($(this).text()=="05"){
            $(this).addClass("Ten");
        }else if($(this).text()=="06"){
            $(this).addClass("one");
        }else if($(this).text()=="07"){
            $(this).addClass("two");
        }else if($(this).text()=="08"){
            $(this).addClass("three");
        }else if($(this).text()=="09"){
            $(this).addClass("Eight");
        }else if($(this).text()=="10"){
            $(this).addClass("five");
        }
    })
</script>