<!DOCTYPE html>
<html>
<?php include CUR_VIEW_PATH."Spublic/head.html";?>
<body style="background:#f3f4f7;">

<?php include CUR_VIEW_PATH."Spublic/header.html";?>
<?php include CUR_VIEW_PATH."Spublic/nav.html";?>

<div class="container">
    <div class="mb-nav">
        <a href=""><img src="public/pk/images/index_03.png"/>首页</a>
        <em>&gt;</em>
        平台详情
    </div>
    <div class="pint-xx">
        <div class="pint-xxti"><?=$jjDatas["biaoti"]?></div>
        <div class="pint-xxnei">
            <?=$jjDatas["neirong"]?>

        </div>
    </div>
</div>

<!--footer-->
<div class="footer box">
    <div class="container">
        <p>温馨提醒：购买彩票有风险，在线投注须谨慎 不向未满18周岁的青少年出售彩票</p>
        <p>Copyright © 2017-2018www.PK10.com All Rights Reserved.</p>
    </div>
</div>


<?php include CUR_VIEW_PATH."Spublic/script.html";?>
</body>
</html>
