/*===========      css初始化样式       ============*/
body{color:#333;font-size:14px;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {font-family: "微软雅黑";}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
ul, ol { list-style:none; }
a { text-decoration:none; font-family: "微软雅黑"; font-size:14px;}
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; vertical-align: middle;}
button, input, select, textarea { font-size:100%; outline: none;}
table { border-collapse:collapse; border-spacing:0; }
.box{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.fl{float: left;}
.fr{float: right;}
.absolute{position: absolute;}
.relative{position: relative;}
.fixed{position: fixed;}
.clear{clear: both;}
.cursor{cursor: pointer;}
.table{width: 100%; height: 100%; display:table;}
.table-cell{display:table-cell; vertical-align: middle;}
.container{width:1000px; margin: 0 auto;}
/*===========      css初始化样式结束       ============*/

@font-face {
	font-family:bbb;
	src: url(../font/ARVO-REGULAR.ttf);
	src: url('../font/ARVO-REGULAR.eot');
  src: url('../font/ARVO-REGULAR.eot?#iefix') format('embedded-opentype'),
       url('../font/ARVO-REGULAR.woff') format('woff'),
       url('../font/ARVO-REGULAR.ttf') format('truetype'),
       url('../font/ARVO-REGULAR.svg#webfont34M5alKg') format('svg');
    font-weight: normal;
    font-style: normal;
}
            
.header{height:88px; background:#fff;}
.logo{ margin-top:25px;}
.head-phone{margin-top:25px;}
.head-phone p{color:#666;}
.head-phone span{color:#cf2542; font-size:20px;display:block;}
.head-phone img{position:relative; top:-1px; margin-right:5px;}
.head-phone em{font-family:bbb;}
.head-nav{background:#444; height:48px;}
.head-nav li{float: left;width:10%;}
.head-nav li a{display:block;height:100%; line-height:48px; text-align: center;color:#fff;}
.head-nav li a:hover,.head-nav .on a{background:#CF2542;}
.new-haoma{height:97px; margin-top:34px;}
.new-haoma .container{height:100%; border:1px solid #eaeaea; background:#fff; padding:13px 22px;}
.trophhy img{width:69px; height:69px;}

.trophhy-text{margin-left:15px; margin-top:5px;}
.trophhy-text p{margin-top:8px;}
.trophhy-text em{color:#CF2542;font-weight:bold;}
.number{ margin-top:15px;}
.number span{float: left; width:38px; height:38px; text-align: center; line-height:38px;font-family:arial;
border-radius:2px;margin-left:30px;font-size:20px; font-weight:bold;color:#fff;display:inline-block;
}

.kai-pk{font-size:20px;font-weight:bold; margin-top:36px;}
.kai-table{margin-bottom:60px;}
.kai-table table{width:100%; background:#fff;}
.kai-table th{font-size:0.16rem;font-weight:500;background:#d9dce5; line-height:53px;}
.kai-table td,.kai-table th{border:1px solid #eaeaea;}
.kai-table td{height:53px;text-align: center;}
.kai-table .number{margin-top:4px; display:inline-block;}
.kai-table .number span{margin-left:8px !important; width:32px; height:32px; line-height:32px;
font-size:16px;font-weight:500;
}
.kai-table tr:hover td{background:#f7f7f7;}

.bom-pxd{background:#fff;overflow: hidden; padding-top:36px; padding-bottom:75px;}
.bom-pin,.bom-qiao{width:318px;}
.bom-h1{margin-bottom:15px;}
.bom-h1 span{font-size:18px;}
.bom-h1 a{color:#999; font-weight: 500;float:right; margin-top:5px;}
.bom-h1 a:hover{color:#cf2542;}
.bom-h1 em{font-family:"宋体";}
.bom-pinimg img{width:100%; height:134px;}

.bom-pintext{font-size:13px;color:#444;line-height:24px; text-align:justify; margin-top:15px;}

.bom-qiao{margin-left:22px;}

.bom-qiaobiao p{font-size:16px;overflow: hidden; text-overflow:ellipsis;white-space:nowrap;}
.bom-qiaobiao span{display:block;color:#777;font-size:13px;line-height:24px; margin-top:15px;
border-bottom:1px solid #efefef; padding-bottom:20px;
}

.bom-list{overflow: hidden; margin-top:10px;}
.bom-list li{line-height:30px; overflow: hidden; text-overflow:ellipsis;white-space:nowrap;}
.bom-list li em{display:block; width:4px;height:4px; border-radius:50%; background:#a3a2a2; float: left;
margin-top:12px; margin-right:6px;
}
.bom-list li a{color:#444;font-size:13px;}

.footer{background:#444;height:105px; color:#777; padding-top:30px; text-align: center;}

    
.footer p{padding-bottom:12px;}


.mb-nav{color:#999; margin-top:30px;}
.mb-nav a{color:#999;}
.mb-nav a:hover{color:#cf2542;}
.mb-nav a img{position:relative; top:-1px; margin-right:5px;}
.mb-nav em{font-family: "宋体"; margin:0 5px;}

.pint-xx{margin-top:26px;}
.pint-xxti{font-size:24px; text-align: center;}
.pint-xxnei{color:#444; line-height: 28px; margin-top:22px;}
.nei-banner img{width:100%;}

.xinwen{overflow: hidden; padding-bottom:105px; margin-top:65px;}
.xw-navs{width:222px; background:#fff;}
.xw-navs h1{height:86px;background:#eee; line-height:86px; text-indent:50px; font-size:20px;font-weight:500;}
.xw-nav li{border:1px solid #eee; height:64px; margin-top:-1px; text-indent:50px;}
.xw-nav li a{display:block; height:100%; line-height:64px; font-size:16px;color:#333;
background:url(../images/nav-ce_14.png) no-repeat 90% center;
}
.xw-nav li:hover a,.xw-nav .on a{background:url(../images/nav-ce1_13.png) no-repeat 90% center; color:#cf2542;}

.xw-rht{width:730px;}
.xw-rht .mb-nav{border-bottom:1px solid #dbdbdb; padding-bottom:12px; margin-top:0;}

.xw-list li {overflow:hidden; margin-top:28px;}
.xw-biaoti a{font-size:16px;color:#333;}
.xw-biaoti a:hover{color:#cf2542;}
.xw-time{font-size:13px;color:#999; margin:12px 0;}
.xw-nei{font-size:13px;color:#888;line-height:24px;}

.page{overflow: hidden;margin-top:28px;}
.page p{margin-left:1px;}
.page a,.page strong{display:inline-block;float:left; margin-left:-1px; padding:10px 15px;color:#8c8c8c;
font-size:12px; background:#fff;border:1px solid #eee;
}
.page em{display:block; float:left;margin:0 14px;color:#8C8C8C; font-size:16px; margin-top:5px;}
.page a:hover{color:#cf2542;}
.page strong{color:#fff; background:#cf2542; border:1px solid #cf2542; font-weight:500;}
.xw-navs h2{font-size:18px;}

.xw-navs .bom-list li{line-height:36px;}
.xw-navs .bom-list li em{margin-top:16px;}
.xw-xxti{font-size:24px; margin-top: 15px;}
.xw-xxtime{color:#999; font-size:12px; margin:20px 0;}
.xw-xxtime em{color:#CF2542;}
.xw-xxnei {color:#444; line-height:30px;}
.xw-xxnei p{overflow: hidden; margin-bottom:15px;}
.xw-xxnei p img{display:block; max-width:100%;}


.one{background:#cf2542;}
.two{background:#1ac114;}
.three{background:#ff7600;}
.four{background:#3477ff;}
.five{background:#11d0d3;}
.six{background:#d6cf00;}
.seven{background:#ef3817;}
.Eight{background:#b2b2b9;}
.Nine{background:#9639f3;}
.Ten{background:#22b382;}
